*~
adegenet.Rcheck
*.o
*.so
.RData
.Rhistory
.Rproj.user/
.Rproj.user
tutorials/*bbl
tutorials/*gz
tutorials/*log
tutorials/figure/*
tutorials/figs/*chunk*.pdf
tutorials/figs/*-1.pdf
tutorials/figs/*-2.pdf
*.blg
*.tar.gz
tests/testthat/*pdf
*.DS_Store
revdep/*
